/** @format */

* {
    box-sizing: border-box;
    /* outline: dotted red; */
}

:root {
    --jeopardy-blue: rgba(47, 62, 70, 0.85);
    --christmas-gold: #ffd700;
    --christmas-red: #C51162;
    --snow-white: rgba(249, 249, 249, 0.85); 
    --font-color-main: #fff; 
    --card-back-color: rgba(241, 231, 200, 0.85);
    --font-family: 'Mountains of Christmas', cursive; 
}

body {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

.card {
    width: 50%;
    height: 50%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s; 
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.card:hover {
    transform: rotateY(180deg); /* Flips the card on hover */
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    backface-visibility: hidden;
    color: var(--jeopardy-blue);
    font-family: var(--font-family);
    padding: 1rem;
    /* border: 2px solid var(--christmas-gold);  */
    border-radius: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.card-front {
    background-color: var(--jeopardy-blue);
    color: var(--font-color-main);
    z-index: 2;
}

.card-back {
    background-color: var(--card-back-color);
    color: var(--christmas-red);
    transform: rotateY(180deg);
}
